<a href="https://colab.research.google.com/github/MLUISG/Functions/blob/main/Just_the_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def show_me(df):
  """Displays info, describe, head, and tail
  
Money in the bank,
Show me the stats and details,
Info, head, tail, done."""
  print('Info')  
  print(df.info())
  print('\n')
  print('\n')
  print('Described')
  print(df.describe().T)
  print('\n')
  print('\n')
  print('Head')
  print(df.head().T)
  print('\n')
  print('\n')
  print('Tail')
  print(df.tail().T)

In [ ]:
def impute_means(df):
  """Imputes the mean value of a column to all null values in that column
  
Missing values found,
Impute means to numeric cols,
Clean data once more."""
  for col in df.columns:
        if df[col].isna().sum() == 0:
            continue
        if pd.api.types.is_numeric_dtype(df[col]):
            df[col].fillna(df[col].mean(), inplace=True)
  return df

In [ ]:
def all_the_value_counts(df):
    """Prints the value counts for all columns in a pandas DataFrame
    
Counting values wide,
All columns, one by one revealed,
Insight to be found."""
    for column in df.columns:
        print(f"Value counts for {column}:")
        print(df[column].value_counts())
        print("\n")

In [ ]:
def count_nulls(data):
    """Checks for null values and displays only nulls
    
Null values abound,
Display them with a function,
Data cleaning done."""
    temp = data.isna().sum()
    filter = temp > 0
    print(data.shape)
    print(temp[filter])